.info-alert {
    background-color: var(--warning-main);
    font-weight: 700;
    padding: 0.5rem;
    border-radius: 0.4rem;
}

/* Estilos para el indicador de estado */
.badge {
  margin: 0.4em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 100%;
}